body.theme-light {
    background-color: #f8f9fa;
}

.card-highlight {
    cursor: pointer;
}

.card-highlight:not(:hover) {
    transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}

@media (hover: hover) {
    .card-highlight:hover {
        box-shadow: 0 0 24px #d7d7d7;
        transform: scale(1.05);
        transition: box-shadow 0.15s ease-in-out, transform 0.15s ease-in-out;
    }
}

.icon {
    /* Fixes icon alignment */
    width: 1em;
    height: 1em;
    vertical-align: -.15em;
    display: inline-block;
}
